__pycache__/
**/__pycache__/
*.pyc
*.pyo
.vscode
.env
.ipynb
.git
.gitignore
.gitattributes
# swe-bench
logs/
swe_bench/
initial_swe/
initial_swe*/
initial_swe_coder_80B/

# polyglot
polyglot/
initial_polyglot/
initial_polyglot_evaluation/

# benchmark/output caches
SWEbench_Pro/
output_mgm/
output_mgm*/
output_mgm_bak*/
output_hgm*/
output_swe/
output_swe*/
output_swe_coder_80B/
output_polyglot/
output_polyglot*/
results/

# apptainer / slurm (not part of coding agent bundle)
apptainer/
apptainer_images/
swe_scripts/
polyglot_scripts/

# misc
misc/

# README.md
Dockerfile
.dockerignore

# code outside of coding agent
self_improve_step.py
prompts/self_improvement_prompt.py
prompts/diagnose_improvement_prompt.py
utils/evo_utils.py
utils/docker_utils.py
hgm_utils.py
hgm.py
evaluate_agent.py
run.sh
